body {
    margin: 0;
    /*background-color: rgb(24, 31, 43);*/
  }

  canvas {
    display: block;
  }

   /*body {
    background-image: radial-gradient(circle, #cfcfcf, #bcb9bc, #aba3a8, #9c8e91, #8c7979);
    background-color:rgb(24, 31, 43);
  }*/
  /*body {
    background-color: #c4c4c4;

  }

  .text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
      1px 18px 6px rgba(16, 16, 16, 0.4),
      1px 22px 10px rgba(16, 16, 16, 0.2),
      1px 25px 35px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }*/

  .text-3d2 {
    text-decoration: none;
    /*background-image: radial-gradient(circle, #cfcfcf, #bcb9bc, #aba3a8, #9c8e91, #8c7979);*/
    text-transform: uppercase;
    font-size: 55px;
    color: #eee;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),

      0 1px 5px rgba(0, 0, 0, .05),
      0 3px 5px rgba(0, 0, 0, .10),
      0 5px 10px rgba(0, 0, 0, .15),
      0 7px 10px rgba(0, 0, 0, .20),
      0 10px 15px rgba(0, 0, 0, .25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .text-3d:hover {
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),
      0 8px 0 rgb(155, 155, 155),
      0 9px 0 rgb(150, 150, 150),

      0 1px 5px rgba(0, 0, 0, .05),
      0 5px 5px rgba(0, 0, 0, .10),
      0 10px 10px rgba(0, 0, 0, .15),
      0 15px 10px rgba(0, 0, 0, .20),
      0 20px 15px rgba(0, 0, 0, .25);
    transform: translate(-51%, -51%);
    transition: all 0.3s ease-in-out;
  }
  .text-3d {
    background-image: radial-gradient(circle, #cfcfcf, #bcb9bc, #aba3a8, #9c8e91, #8c7979);
    width:100%;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;
    color: #eee;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),

      0 1px 5px rgba(0, 0, 0, .05),
      0 3px 5px rgba(0, 0, 0, .10),
      0 5px 10px rgba(0, 0, 0, .15),
      0 7px 10px rgba(0, 0, 0, .20),
      0 10px 15px rgba(0, 0, 0, .25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .text-3d1:hover {
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),
      0 8px 0 rgb(155, 155, 155),
      0 9px 0 rgb(150, 150, 150),

      0 1px 5px rgba(0, 0, 0, .05),
      0 5px 5px rgba(0, 0, 0, .10),
      0 10px 10px rgba(0, 0, 0, .15),
      0 15px 10px rgba(0, 0, 0, .20),
      0 20px 15px rgba(0, 0, 0, .25);
    transform: translate(-51%, -51%);
    transition: all 0.3s ease-in-out;
  }
  .text-3d1 {
    text-decoration: none;
    /*background-image: radial-gradient(circle, #cfcfcf, #bcb9bc, #aba3a8, #9c8e91, #8c7979);*/
    text-transform: uppercase;
    font-size: 55px;
    color: #eee;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),

      0 1px 5px rgba(0, 0, 0, .05),
      0 3px 5px rgba(0, 0, 0, .10),
      0 5px 10px rgba(0, 0, 0, .15),
      0 7px 10px rgba(0, 0, 0, .20),
      0 10px 15px rgba(0, 0, 0, .25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .text-3d:hover {
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),
      0 8px 0 rgb(155, 155, 155),
      0 9px 0 rgb(150, 150, 150),

      0 1px 5px rgba(0, 0, 0, .05),
      0 5px 5px rgba(0, 0, 0, .10),
      0 10px 10px rgba(0, 0, 0, .15),
      0 15px 10px rgba(0, 0, 0, .20),
      0 20px 15px rgba(0, 0, 0, .25);
    transform: translate(-51%, -51%);
    transition: all 0.3s ease-in-out;
  }
  .text-3d {
    text-transform: uppercase;
    font-size: 100px;
    color: #eee;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),

      0 1px 5px rgba(0, 0, 0, .05),
      0 3px 5px rgba(0, 0, 0, .10),
      0 5px 10px rgba(0, 0, 0, .15),
      0 7px 10px rgba(0, 0, 0, .20),
      0 10px 15px rgba(0, 0, 0, .25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .text-3d2:hover {
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),
      0 8px 0 rgb(155, 155, 155),
      0 9px 0 rgb(150, 150, 150),

      0 1px 5px rgba(0, 0, 0, .05),
      0 5px 5px rgba(0, 0, 0, .10),
      0 10px 10px rgba(0, 0, 0, .15),
      0 15px 10px rgba(0, 0, 0, .20),
      0 20px 15px rgba(0, 0, 0, .25);
    transform: translate(-51%, -51%);
    transition: all 0.3s ease-in-out;
  }
  .text-3d3 {
    text-transform: uppercase;
    font-size: 55px;
    color: #eee;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),

      0 1px 5px rgba(0, 0, 0, .05),
      0 3px 5px rgba(0, 0, 0, .10),
      0 5px 10px rgba(0, 0, 0, .15),
      0 7px 10px rgba(0, 0, 0, .20),
      0 10px 15px rgba(0, 0, 0, .25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .text-3d3:hover {
    text-shadow:
      0 1px 0 rgb(190, 190, 190),
      0 2px 0 rgb(185, 185, 185),
      0 3px 0 rgb(180, 180, 180),
      0 4px 0 rgb(175, 175, 175),
      0 5px 0 rgb(170, 170, 170),
      0 6px 0 rgb(165, 165, 165),
      0 7px 0 rgb(160, 160, 160),
      0 8px 0 rgb(155, 155, 155),
      0 9px 0 rgb(150, 150, 150),

      0 1px 5px rgba(0, 0, 0, .05),
      0 5px 5px rgba(0, 0, 0, .10),
      0 10px 10px rgba(0, 0, 0, .15),
      0 15px 10px rgba(0, 0, 0, .20),
      0 20px 15px rgba(0, 0, 0, .25);
    transform: translate(-51%, -51%);
    transition: all 0.3s ease-in-out;
  }